.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "NetflixSans-Bold";
  src: url("./components/assets/fonts/NetflixSans-Bold.woff2");
}

@font-face {
  font-family: "NetflixSans-Light";
  src: url("./components/assets/fonts/NetflixSans-Light.woff2");
}

@font-face {
  font-family: "NetflixSans-Medium";
  src: url("./components/assets/fonts/NetflixSans-Medium.woff2");
}

@font-face {
  font-family: "NetflixSans-Regular";
  src: url("./components/assets/fonts/NetflixSans-Regular.woff2");
}


.active {
  text-decoration: none;
  color: white;
  font-family: "NetflixSans-Bold";
}

.not-active {
  color: white;
  text-decoration: none;
  font-family: "NetflixSans-Regular";
}

.header-sec {
  background-color: black;
}


.slider-img {
  width: 100%;
  height: 100%;
}

/* .slider-div {
  width: 240px !important;
  height: 150px !important;
} */

/* .slider-set {
  height: 100%;
  z-index: 100;
} */

.slick-slide {
  /* ... */
  position: relative;
  width: 240px;
  height: 100px;
  margin-right: 10px;
  cursor: pointer;
  transition: width 2s;
}

.slick-slide:hover {
  width: 300px;
}

.hover-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 200px;
  z-index: 1;
  font-size: 10px;
  background-color:rgba(0,0,0,0.4);
  text-align: center;
  color: white;
  margin-right: 10px;
  /* opacity: 1; */
  transition: width 2s;
}

/* .hover-div:hover {
  width: 500px;
} */

.react-loader-div {
  width: 100vw;
  height: 100vh;
  /* padding: 200px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .search-icon {
  width: 200px;
} */

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

.slide-left {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}